*{
  box-sizing: border-box;
}
#grid{
  height: 600px;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}
#grid >div{
  border: 2px solid grey;
  width:30px;
  height:30px;
  &.form{
    background-color: grey;
  }
}
